.navbar {
    background: #000000
}

.navbar-custom {
    background-color: #001932;
}

/* Modify brand and text color */



.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #FFDC00;
    transition: 0.4s
}

.nav-item:hover::after {
    width: 100%
}


.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}

.row {
    margin: 0 !important;
    padding: 0 !important;
}



.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #FFDC00
}

.nav-link {
    margin:5px 10px;
    transition: 0.2s
}

body {
    background-color: grey;
    justify-content: center;
}

.nav-link {
    color: #E1E3E3;
}

.nav-link:hover {
    color: #FFDC00;
}

#ventana {
    color: #E1E3E3;
}

#ventana:hover {
    color: #FFDC00;
}

#seccion{
    background-color: #001932;
}


/* Setting the stroke to green using rgb values (0, 128, 0) */
  
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

